
.nav-link {
    color: white;
}
.nav-link:hover{
    color: #843f9f;
}

.bgimage {
    height:100vh;
    background-image: url("resourses/background.png"),linear-gradient(0deg, rgba(118,62,153,1) 0%, rgba(38,38,37,1) 76%);
    background-size: cover 80vw;
    position:relative; 
    background-repeat: no-repeat;  
}

.imageAboutPage {
    width: 100%;
}

.navbarcustom {
    background-color: rgb(38, 37, 37);
}
.btn{
    background-color: rgb(59, 54, 54);
}
.btn:hover{
    background-color: #843f9f;
    transform: scale(1.1);
}

.card-img-top{
    height: 250px;    
}

.icons{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 5vh auto;
   
}

i:hover{
    transform: scale(1.2);
}
.card:hover{
    box-shadow: 1px 3px 1px #843f9f;    
}

a{
    color: white;
}
a:hover{
    color:#843f9f;
}

footer{
    width: 100%;
    background-color: rgb(38, 37, 37);
    margin-top: 50px;
}
#contato{
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding:10px;
}

@media(max-width: 540px){
.bgimage{ height: min-content;}
.justify-content-end{justify-content: center !important;}
.nav-link{padding: 6px;}

}

